.skills{
	padding-bottom: 0;
}
.kitchen{
	@include pos(r);
	@include bg('../img/kitchen.png', center 0);
	&:after{
		@include pseudo();
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: transparentize(setColor('dark', 'black'), 0.25);
		z-index: z('default') + 1;
	}
	
	&__roof{
		@include pos(r);
		height: 26px;
		width: 100%;
		font-size: 0;
		z-index: z('default');
		&:before{
			@include pseudo();
			left: 50%;
			top: 0;
			width: 95%;
			transform: translateX(-50%);
			height: 20px;
			background-color: $color-roof;
		}
		&-part{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
			left: 0;
			width: 100%;
			height: 10px;
			
			&-inner{
				position: relative;
				top: 0;
				height: 100%;
				background-color: $color-roof-part;
				border-radius: 7.5px;
				flex-basis: 56px;
				width: 56px;
				&_big{
					width: calc(100% - 120px);
					flex-basis: calc(100% - 120px);
				}
			}
			&_1{
				top: 0;
			}
			&_2{
				top: 6px;
				left: -10px;
			}
			&_reverse{
				flex-direction: row-reverse;
			}
		}
		&-wrap{
			display: none;
		}
		@include resp-min(sm){
			height: 45px;
			&:before{
				height: 45px;
			}
			&-part{
				padding-left: 15px;
				padding-right: 15px;
				height: 15px;
				&_2{
					top: 15px;
				}
			}
		}
	}
	&__lamp{
		position: relative;
		text-align: center;
		margin-bottom: 100px;
		z-index: 4;
		&-inner{
			@include pos(r);
			display: inline-block;
			font-size: 0;
		}
		&-img{
			position: relative;
			z-index: z('default');
		}
		svg{
			width: 200px;
		}
	}
	@each $name, $value in $color-lamp{
		@for $i from  1 through length($value){
			&__lamp_#{$name} &__lamp-st#{$i}{
				fill: nth(nth($value, $i), 2);
			}
		}
	}
	&__bulb{
		position: absolute;
		width: 51px;
		transform: scaleY(-1);
		&:before{
			@include pseudo();
			left: 0;
			top: 30px;
			width: 50px;
			height: 80px;
			transform: perspective(120px) rotateX(145deg);
			transform-origin: top center;
			background: linear-gradient(to top, rgba(255, 222, 83, 0.8), transparent);
			z-index: -1;
			opacity: 0;
			@include transition();
		}
		svg{
			width: 100%;
		}
		&_1{
			top: 202px;
			left: 5px;
		}
		&_2{
			top: 180px;
			left: 133px;
		}
		&_3{
			top: 248px;
			left: 75px;
		}
		&.active{
			&:before{
				opacity: 1;
			}
			path{
				fill: #FFDA44;
			}
		}
	}
	&__table{
		@include pos(r);
		text-align: center;
		font-size: 0;
		&-img{
			max-width: 320px;
		}
	}
	&__pan{
		position: absolute;
		width: 90px;
		z-index: 3;
		&_1{
			left: 20px;
			top: -10px;
		}
		&_2{
			left: 146px;
			top: -10px;
		}
		&_3{
			left: 90px;
			top: 25px;
		}
		&-header{
			margin-bottom: 7.5px;
		}
		&-title{
			position: absolute;
			left: 50%;
			top: 50%;
			padding: 5px 15px;
			background-color: #fff;
			color: #000;
			font-size: 25px;
			font-weight: bold;
			line-height: 1;
			opacity: 0;
			transform: translate(-50%, -50%);
			@include transition();
		}
		&-cover{
			position: relative;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			z-index: z('default') + 1;
			@include transition();
			&-st0{
				fill: #383838;
			}
			&-st1{
				fill: #484848;
			}
		}
		&-plate path{
			fill: #272727;
		}
		@each $name, $color in $color-plates{
			&_#{$name}.active &-cover-st0{
				fill: $color;
			}
			&_#{$name}.active &-plate path{
				fill: $color;
			}
			// &_#{$name} &-title{
			// 	color: $color;
			// }
		}
		&.active &-cover{
			transform: translateY(-45px);
			&-st1{
				fill: setColor('white');
			}
		}
		&.active &-title{
			opacity: 1;
		}
	}
	&__item{
		&-roof{
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	@include resp-max(sm){
		&__table{
			width: 270px;
			margin-left: auto;
			margin-right: auto;
		}
		&__item{
			position: relative;
			&:before{
				@include pseudo();
				left: 0;
				bottom: 0;
				width: 100%;
				height: 75px;
				@include bg('../img/kitchen-floor.png');
			}
		}
	}
	@include resp-min(sm){
		&__roof{
			&-wrap{
				display: block;
			}
		}
		&__item{
			&-roof{
				display: none;
			}
		}
		&__pan{
			width: 80px;
			&_1{
				left: 15px;
				top: -10px;
			}
			&_2{
				left: 120px;
				top: -10px;
			}
			&_3{
				left: 75px;
				top: 15px;
			}
		}
		&:before{
			@include pseudo();
			left: 0;
			bottom: 0;
			width: 100%;
			height: 75px;
			@include bg('../img/kitchen-floor.png');
		}
	}
	@include resp-min(md){
		&__pan{
			&_1{
				left: 35px;
			}
			&_2{
				left: 165px;
			}
			&_3{
				left: 107px;
				top: 35px;
			}
		}
	}
	@include resp-min(lg){
		&__pan{
			width: 110px;
			&_1{
				left: 55px;
				top: -15px;
			}
			&_2{
				left: 185px;
				top: -15px;
			}
			&_3{
				left: 125px;
				top: 25px;
			}
		}
	}
}