include ../bem/index
header.site-header
	.vcontainer
		+b.monitor
			+e.image
				img(src="img/monitor.png")
			+e.header
				+e.SPAN.header-act._close
				+e.SPAN.header-act._expand
				+e.span.header-act._turn
			+e.body
				+e.UL.list
					+e.LI.list-item
						+e.SPAN.list-item-number 1
						+e.P.list-item-code._blue._indent-1 <!DOCTYPE html>