
<header class="site-header js-section" id="section-home">
  <div class="vcontainer">
    <div class="monitor">
      <div class="monitor__image"><img src="img/Monitor_flat.svg"/>
      </div>
      <div class="monitor__area">
        <div class="monitor__header">
          <div class="monitor__header-act monitor__header-act_close">
          </div>
          <div class="monitor__header-act monitor__header-act_expand">
          </div>
          <div class="monitor__header-act monitor__header-act_turn">
          </div>
        </div>
        <div class="monitor__body">
          <ul class="monitor__list">
            <li class="monitor__list-item">
              <div class="monitor__number">1
              </div>
              <div class="monitor__code monitor__code_blue monitor__code_indent-1 type-it" id="monitor-line-1" data-delay="500">&lt;!DOCTYPE html&gt;
              </div>
            </li>
            <li class="monitor__list-item">
              <div class="monitor__number">2
              </div>
              <div class="monitor__code monitor__code_blue monitor__code_indent-1 type-it" id="monitor-line-2" data-delay="2500">&lt;html&gt;
              </div>
            </li>
            <li class="monitor__list-item">
              <div class="monitor__number">3
              </div>
              <div class="monitor__code monitor__code_green monitor__code_indent-3 type-it" id="monitor-line-3" data-delay="3500">&lt;head&gt;
              </div>
            </li>
            <li class="monitor__list-item">
              <div class="monitor__number">4
              </div>
              <div class="monitor__code monitor__code_yellow monitor__code_indent-5 type-it" id="monitor-line-4" data-delay="4500">&lt;title&gt; <span class='color-black monitor__typing'>Welcome!</span> &lt;/title&gt;
              </div>
            </li>
          </ul>
          <div class="monitor__title-wrap">
            <h1 class="monitor__title vtitle-big type-it" data-delay="7000"><span class="color-green">KitchenOfD</span><span class="monitor__part-2">esign</span>
            </h1>
            <p class="monitor__title-small vtitle-small text-right monitor__part-2 type-it" data-delay="9000">Web Studio
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>