
<!-- Navigation mixins-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<meta charset="UTF-8"/><!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#f24d16"/><!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#f24d16"/><!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link rel="icon" type="image/png"/><!--[if lte IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link href="css/style.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900" rel="stylesheet"/>
<script src="js/lib/scripts.min.js"></script>
<script src="js/main.js"></script>