include mixins
-
	var navigation = [
		{
			name: 'Home',
			link: '#section-home',
			icon: 'iconHome'
		},
		{
			name: 'About Us',
			link: '#section-about-us',
			icon: 'iconAboutUs'
		},
		{
			name: 'Portfolio',
			link: '#section-portfolio',
			icon: 'iconPortfolio'
		},
		{
			name: 'Our Skills',
			link: '#section-skills',
			icon: 'iconSkills'
		},
		{
			name: 'Blog',
			link: '#section-blog',
			icon: 'iconBlog'
		},
		{
			name: 'Get In Touch',
			link: '#section-contact',
			icon: 'iconContact'
		}
	];

	var kitchenTables = [
		{
			lampColor: 'purple',
			skill1: {
				name: 'HTML',
				color: 'skill1'
			},
			skill2: {
				name: 'PS',
				color: 'skill2'
			},
			skill3: {
				name: 'JS',
				color: 'skill3'
			}
		},
		{
			lampColor: 'blue',
			skill1: {
				name: 'PHP',
				color: 'skill4'
			},
			skill2: {
				name: 'AA',
				color: 'skill5'
			},
			skill3: {
				name: 'BB',
				color: 'skill6'
			}
		},
		{
			lampColor: 'orange',
			skill1: {
				name: 'CC',
				color: 'skill7'
			},
			skill2: {
				name: 'DD',
				color: 'skill8'
			},
			skill3: {
				name: 'FF',
				color: 'skill9'
			}
		}
	];

	var contacts = [
		{
			action: 'mailto',
			value: 'kitchen.of.design@gmail.com',
			icon: 'img/paper-airplane-flying.svg'
		},
		{
			action: 'tel',
			value: '+ 38 (000)-000-00-00',
			icon: 'img/smartphone.svg'
		},
		{
			action: 'tel',
			value: 'kitchen.of.design',
			icon: 'img/skype.svg'
		}
	];

	var socials = [
		{
			social: 'fb',
			link: '#',
			icon: 'img/facebook-letter-logo.svg'
		},
		{
			social: 'instagram',
			link: '#',
			icon: 'img/instagram-logo.svg'
		},
		{
			social: 'vk',
			link: '#',
			icon: 'img/vk-social-network-logo.svg'
		}
	];

	var blogPosts = [
		{
			image: 'img/post1.jpg',
			category: 'JS',
			date: '09.07.2017',
			title: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry'
		},
		{
			image: 'img/post1.jpg',
			category: 'WEB',
			date: '11.06.2017',
			title: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry'
		},
		{
			image: 'img/post1.jpg',
			category: 'PHP',
			date: '10.05.2017',
			title: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry'
		},
		{
			image: 'img/post1.jpg',
			category: 'HTML',
			date: '09.01.2014',
			title: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry'
		}
	];