-
	var navigation = [
		{
			name: 'Home',
			link: '#section-about-us'
		},
		{
			name: 'About Us',
			link: '#section-about-us'
		},
		{
			name: 'Portfolio',
			link: '#section-portfolio'
		},
		{
			name: 'Our Skills',
			link: '#section-skills'
		},
		{
			name: 'Blog',
			link: '#section-blog'
		},
		{
			name: 'Get In Touch',
			link: '#section-contact'
		}
	];