include mixins
-
	var navigation = [
		{
			name: 'Home',
			link: '#section-home',
			icon: 'iconHome'
		},
		{
			name: 'About Us',
			link: '#section-about-us',
			icon: 'iconAboutUs'
		},
		{
			name: 'Portfolio',
			link: '#section-portfolio',
			icon: 'iconAboutUs'
		},
		{
			name: 'Our Skills',
			link: '#section-skills',
			icon: 'iconAboutUs'
		},
		{
			name: 'Blog',
			link: '#section-blog',
			icon: 'iconAboutUs'
		},
		{
			name: 'Get In Touch',
			link: '#section-contact',
			icon: 'iconAboutUs'
		}
	];