include mixins
-
	var navigation = [
		{
			name: 'Home',
			link: '#section-home',
			icon: 'iconHome'
		},
		{
			name: 'About Us',
			link: '#section-about-us',
			icon: 'iconAboutUs'
		},
		{
			name: 'Portfolio',
			link: '#section-portfolio',
			icon: 'iconPortfolio'
		},
		{
			name: 'Our Skills',
			link: '#section-skills',
			icon: 'iconSkills'
		},
		{
			name: 'Blog',
			link: '#section-blog',
			icon: 'iconBlog'
		},
		{
			name: 'Get In Touch',
			link: '#section-contact',
			icon: 'iconContact'
		}
	];

	var kitchenTables = [
		{
			lampColor: 'purple',
			skill1: {
				name: 'HTML',
				color: 'skill1'
			},
			skill2: {
				name: 'PS',
				color: 'skill2'
			},
			skill3: {
				name: 'JS',
				color: 'skill3'
			}
		},
		{
			lampColor: 'blue',
			skill1: {
				name: 'PHP',
				color: 'skill4'
			},
			skill2: {
				name: 'AA',
				color: 'skill5'
			},
			skill3: {
				name: 'BB',
				color: 'skill6'
			}
		},
		{
			lampColor: 'orange',
			skill1: {
				name: 'CC',
				color: 'skill7'
			},
			skill2: {
				name: 'DD',
				color: 'skill8'
			},
			skill3: {
				name: 'FF',
				color: 'skill9'
			}
		}
	];