.#{$skill-name-game}{
	&__bulb{
		position: absolute;
		width: 51px;
		transform: scaleY(-1);
		&:before{
			@include pseudo();
			left: 0;
			top: 30px;
			width: 50px;
			height: 0;
			transform: perspective(120px) rotateX(145deg);
			transform-origin: top center;
			background: linear-gradient(to top, rgba(255, 222, 83, 0.8), transparent);
			z-index: -1;
			opacity: 0;
			@include transition();
		}
		svg{
			width: 100%;
		}
		&_1{
			top: 202px;
			left: 5px;
		}
		&_2{
			top: 180px;
			left: 133px;
		}
		&_3{
			top: 248px;
			left: 75px;
		}
		&.active{
			&:before{
				opacity: 1;
				height: 80px;
			}
			path{
				fill: #FFDA44;
			}
		}
	}
}