.#{$skill-name-game}{
	&__roof{
		@include pos(r);
		height: 26px;
		width: 100%;
		font-size: 0;
		z-index: z('default');
		&:before{
			@include pseudo();
			left: 50%;
			top: 0;
			width: 95%;
			transform: translateX(-50%);
			height: 20px;
			background-color: $color-roof;
		}
		&-part{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
			left: 0;
			width: 100%;
			height: 10px;
			
			&-inner{
				position: relative;
				top: 0;
				height: 100%;
				background-color: $color-roof-part;
				border-radius: 7.5px;
				flex-basis: 56px;
				width: 56px;
				&_big{
					width: calc(100% - 120px);
					flex-basis: calc(100% - 120px);
				}
			}
			&_1{
				top: 0;
			}
			&_2{
				top: 6px;
				left: -10px;
			}
			&_reverse{
				flex-direction: row-reverse;
			}
		}
		&-wrap{
			display: none;
		}
		@include resp-min(sm){
			height: 45px;
			&:before{
				height: 45px;
			}
			&-part{
				padding-left: 15px;
				padding-right: 15px;
				height: 15px;
				&_2{
					top: 15px;
				}
			}
		}
	}
}