$button-map: (
  'name'        : 'vbtn',
  'z-index'     : z('default'),
  'radius'      : 0,
  'border'      : 0 ,
  'line-height' : 1.3
);

//-
//- Button colors
//- 1 key - background
//- 2 key - text color
//- 3 key - border color

$button-colors: (
	// 'white'							: ( setColor('white'), setColor('brand-1') ),
	// 'green'							: ( setColor('green'), setColor('white') ),
	// 'brand-1'						: ( setColor('brand-1'), setColor('white') ),
	// 'border-yellow'			: ( transparent, setColor('white'), setColor('yellow') ),
	'border-yellow' : (
		'background-color': transparent,
		'color': setColor('white'),
		'border-color': setColor('yellow'),
		'before': setColor('yellow')
	)
);

//-
//- Button Sizes
//-

$btn-border-width: 3px;
$btn-border-style: solid;

$btn-default-padding: 10px 16px;
$btn-default-size: 14px;

$btn-large-padding: 15px 25px;
$btn-large-size: 18px;

@mixin button-size($button-padding, $button-font-size){
	padding: $button-padding;
	font-size: $button-font-size;
}