%button-placeholder{
  display: inline-block;
  position: relative;
  @include button-size($btn-default-padding, $btn-default-size);
  border: getComp('border', $button-map);
  border-radius: getComp('radius', $button-map);;
  z-index: z('default');
  overflow: hidden;
  max-width: 100%;
  background-color: transparent;
  text-decoration: none;
  font-size: getComp('font-size', $button-map);
  line-height: getComp('line-height', $button-map);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transform: translateZ(0);
  @include transition();
  @extend .bold !optional;
}
.#{getComp('name', $button-map)} {
  @extend %button-placeholder;
  &_large{
    @include button-size($btn-large-padding, $btn-large-size);
  }
  &_block{
    display: block;
    width: 100%;
    text-align: center;
  }
  @each $button-name, $button-collect-values in $button-colors{

    &_#{$button-name}{
      @each $button-value-name, $button-value in $button-collect-values{
        
        @if ($button-value-name == 'before'){
          
          &:before{
            background-color: $button-value;
          }
          $button-value-name: null;
          $button-value: null;
        }@else if ( $button-value-name == 'border-color' ){
          border-width: $btn-border-width;
          border-style: $btn-border-style;
        }
        #{$button-value-name}: $button-value;
      }
    }
  }
}