extends includes/layout
block variables
	- var title = "Kitchen Of Design";
	- var description = "Kitchen Of Design";
	include includes/helpers/data
block content
	+b.SECTION.about-us.vsection.js-section#section-about-us
		+e.part._man
		+e.part._girl
		.vcontainer
			.vrow
				+b.person._man.vak.vak-12.vak-xs-6
					+title('brand-1', 'A', 'bout Usss', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s', 'color-white')
					+about-us('img/repairing.svg', 'img/man.svg', 'HELLO, <br> MY NAME IS...', 'Vsevolod<br/>Kurochka', 'I like creating flexible and supported code.')
				+b.person._girl.vak.vak-12.vak-xs-6
					+about-us('img/thinking.svg', 'img/girl.svg', 'HELLO, <br/> MY NAME IS...', 'Alina<br>Yaremachenko', 'I really like nature, elegant food and delicious design.')
	+b.SECTION.skills.vsection.js-section#section-skills
		.vcontainer
			.vrow
				.vak.vak-12.vak-sm-6
					+title('blue', 'O', 'ur Skillsss', 'This section is made in the form of a game. When you click on the pot, the skill that we own is shown. Have a good mood!')
		+b.kitchen
			+e.roof-wrap
				+kitchen-roof()
			.vcontainer
				.vrow
					for kitchenBlock in kitchenTables
						+kitchen-block(kitchenBlock.skill1, kitchenBlock.skill2, kitchenBlock.skill3, kitchenBlock.lampColor)
	+b.SECTION.vsection.blog.js-section#section-blog
		.vcontainer
			.vrow
				.vak.vak-12.vak-sm-5
					+title('orange', 'B', 'loggg', 'We will publish the latest news from the world of IT', 'color-dark-light')
				.vak.vak-12.vak-sm-7
					for post in blogPosts
						+post(post.image, post.category, post.date, post.title)
	+b.SECTION.contact.vsection.js-section#section-contact
		.vcontainer
			+title('yellow', 'G', 'et in touchhh')
			.vrow
				.vak.vak-12.vak-sm-6
					+e.information
						+e.icons
							for contact in contacts
								+contact-icon(contact.action, contact.value, contact.icon)
						+e.social
							+e.P.social-title Find Us:
							+b.social
								for social in socials
									+social(social.social, social.link, social.icon)
				.vak.vak-12.vak-sm-6
					+b.FORM.vform._white(action="application.php" method="POST")
						+e.line-y
							+e.line-y-part
						+e.row._line
							+b.INPUT.vform-control(type="text" placeholder="Fullname" data-rule="required noNumbers" name="name")
							+e.line
						+e.row._line
							+b.INPUT.vform-control(type="email" placeholder="Email" data-rule="required email" name="email")
							+e.line
						+e.row._line
							+b.INPUT.vform-control(type="text" placeholder="Phone" data-rule="required" name="phone")
							+e.line
						+e.row._line
							+b.TEXTAREA.vform-control(placeholder="How Can We Help You ?" rows="5")
							+e.line
						+e.row.text-center
							+e.BUTTON.button.vbtn._large._border-yellow.effect._bounce-top(type="submit") SEND
	+b.copyright
		p=copyright
block footer

block dev
