extends includes/layout

block variables
	- var title = "Kitchen Of Design";
	- var description = "Kitchen Of Design";
	include includes/helpers/data
block content
	+b.SECTION.about-us.vsection#section-about-us
		+e.part._man
		+e.part._girl
		.vcontainer
			.vrow
				+b.person._man.vak.xs-12.sm-6
					+b.group
						+e.H3.title <span class="group__letter group__letter_brand-1" data-letter="A">A</span>bout Usss
						+e.P.text.color-white Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					+e.item
						+e.header
							+e.header-icon-wrap
								+e.header-icon-inner
									+e.IMG.header-icon(src="img/repairing.svg")
							+e.header-image-wrap
								+e.IMG.header-image(src="img/man.svg")
						+e.body
							+e.P.title HELLO, <br>MY NAME IS...
							+e.P.name Vsevolod<br>Kurochka
							+e.P.description I like creating flexible and supported code.				
				+b.person._girl.vak.xs-12.sm-6
					+e.item
						+e.header
							+e.header-icon-wrap
								+e.IMG.header-icon(src="img/thinking.svg")
							+e.header-image-wrap
								+e.IMG.header-image(src="img/girl.svg")
						+e.body
							+e.P.title HELLO, <br>MY NAME IS...
							+e.P.name Alina<br>Yaremachenko
							+e.P.description I really like nature, elegant food and delicious design.
	+b.SECTION.skills.vsection#section-skills
		.vcontainer
			.vrow
				.vak.xs-12.sm-6
					+b.group
						+e.H3.title <span class="group__letter group__letter_blue" data-letter="O">O</span>ur Skillsss
						+e.P.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
		+b.kitchen
			+e.roof
				+e.roof-part._1
					+e.roof-part-inner
					+e.roof-part-inner._big
				+e.roof-part._2._reverse
					+e.roof-part-inner
					+e.roof-part-inner._big
			.vcontainer
				.vrow
					for kitchenBlock in kitchenTables
						+kitchen-block(kitchenBlock.skill1, kitchenBlock.skill2, kitchenBlock.skill3, kitchenBlock.lampColor)
block footer

block dev
