%vtitle-default{
	line-height: 1.2;
}
.vtitle{
	&-small{
		font-size: 14px;
		@include fs('vtitle-small');
		@extend %vtitle-default;
	}
	&-big{
		font-size: 30px;
		@include fs('vtitle-big');
		@extend .regular !optional;
		@extend %vtitle-default;
	}
}
.group{
	margin-bottom: 45px;
	font-weight: bold;
	&__title{
		font-size: 40px;
		line-height: 1;
		margin-bottom: 30px;
	}
	&__letter{
		position: relative;
		line-height: 1;
		&:before{
			@include pseudo(attr(data-letter));
			left: -7.5px;
			top: -2px;
			font-size: inherit;
			color: inherit;
			line-height: 1;
			opacity: 0.2;
		}
		&:after{
			@include pseudo();
			left: 0;
			bottom: 0;
			width: 80%;
			margin-left: 10%;
			height: 3px;
		}
		@each $group-name in $group-colors{
			&_#{$group-name}{
				color: setColor($group-name);
				&:after{
					background-color: setColor($group-name);
				}
			}
		}
	}
	@include resp-max(xs){
		&__text{
			font-size: 14px;
		}
	}
	@include resp-min(sm){
		&__title{
			font-size: 45px;
			margin-bottom: 60px;
		}
		&__letter{
			font-size: 90px;
			padding-bottom: 0;
			&:after{
				height: 10px;
			}
			&:before{
				left: -20px;
				top: 15px;
			}
		}
	}
	@include resp-min(lg){
		margin-bottom: 90px;
		&__title{
			font-size: 90px;
			margin-bottom: 100px;
		}
		&__letter{
			font-size: 180px;
		}
		&__text{
			padding-right: 45px;
		}
	}
}
.text{
	&-uppercase{
		text-transform: uppercase;
	}
	&-u{
		text-decoration: underline;
	}
	&-dn{
		text-decoration: none;
	}
	&-center{
	 text-align: center;
	}
	&-left{
	 text-align: left;
	}
	&-right{
	 text-align: right;
	}
}