// Colors

	$color-modal-main: #F89406;
	$color-modal-transparent: rgba(0, 0, 0, 0.1);
	$color-success: #5cb85c;
	$color-danger: #d9534f;

	// Brand colors

		$color-brand-1: #f24d16;
		$color-brand-2: #f00;

	// Header

		// Monitor
			
			$monitor-ui: #ddd;

			$monitor-acts-list: (
				'close'			: #ea1123,
				'expand'		: #f8e042,
				'turn'			: #7dbf44
			);
			
			// Highlighting code inside monitor
			$monitor-syntax-highlighting: (
				'blue'			: #3a7dda,
				'green'			: #18bc9c,
				'yellow'		: #edd834
			);

	// Navigation

		$color-menu: #f7f7f7;
		$color-item: #929292;
		$color-active-item: #f24d16;

	
	// Sections

		// About Us
			

			$colors-man: (
				'bg'						: #00a8ec,
				'greeting'			: #b0f718,
				'name'					: #fff7f7,
				'description'		: #f7ca18
			);

			$colors-girl: (
				'bg'						: #f59fbc,
				'greeting'			: #8e44ad,
				'name'					: #e2fbca,
				'description'		: #e4f1fe
			);

		// Skills

			$color-roof: #fffc00;
			$color-roof-part: #000;
			
			$color-lamp: (
				'purple' 	: (
					'st1'  	: #92278F,
					'st2'	 	: #7A1878,
					'st3'  	: none
				),
				'blue'		: (
					'st1'  	: #264891,
					'st2'	 	: #3d73e8,
					'st3'  	: none	
				),
				'orange'		: (
					'st1'  	: #ff5a00,
					'st2'	 	: #ff9563,
					'st3'  	: none	
				)
			);

			$color-plates: (
				'yellow' 				: #ede786,
				'blue'	 				: #1d7df3,
				'pink' 					: #b755ef,
				'purple' 				: #79147f,
				'lime'    			: #1df3a0,
				'light-blue' 		: #55b7ef,
				'red'     			: #e1411c,
				'turquoise'			: #48efe9,
				'lemon'					: #beea27
			);

		// Get in touch

			$bg-contact: #00a8ec;

			// Social item
				$social-item-size: 60px;
				$social-item-bg: #0669b2;

				$social-palitre: (
					'fb'					: #0669b2,
					'instagram'		: #0669b2,
					'vk'					: #0669b2
				);

// Dependencies

	// Design form ( 'old' or 'new' )
	
		$design-form: 'new';

// Errors

	// If not exists variable.
		$error-variable: "This variable we do not have, sorry. Please try to change variable ";
		$error-color: 'Invalid color name.';